<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br>
    <h3>Create new Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Enter some Catchy Title"  type="text" class="form-control" required>
            <div class="valid-feedback">Looks Good!</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter description"  type="text"  class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter a short desciption</div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input name="listing[image]" type="file"  class="form-control">
        </div>
         
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]"  placeholder= "1200"  class="form-control" required>
            <div class="invalid-feedback">Please enter valid Price</div>
        </div>       
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="India"  type="text"  class="form-control" required>
            <div class="invalid-feedback">Please enter correct Country</div>
        </div>  
        </div>

        <div class="md-3">
            <label for="country" class="form-label">Category</label>
            <select name="listing[category]" class="form-select" required>
                <option value="">-Select Category-</option>
                <option value="trending">Trending</option>
                <option value="rooms">Rooms</option>
                <option value="iconic_cities">Iconic Cities</option>
                <option value="mountains">Mountains</option>
                <option value="artic">Artic</option>
                <option value="castles">Castles</option>
                <option value="beaches">Beaches</option>
                <option value="camping">Camping</option>
                <option value="farms">Farms</option>
            </select>
        <div class="invalid-feedback">Please Select Category</div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Ranchi, Jharkhand"  type="text"  class="form-control" required>
            <div class="invalid-feedback">Please enter correct location</div>
        </div>
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
    </div>
</div>    
    
